<div appHover="bg-gray-500" defaultColor="bg-red-500" class=" h-full flex-col  flex items-center space-y-4 justify-center border-l">
    <div class="flex flex-col space-y-1 w-3/4">
      <nz-form-label  nzFor="title" nzSpan="6" >Title</nz-form-label>
      <input nz-input appFocus [(ngModel)]="currentTask.title" id="title" class="w-full p-2 h-12 border rounded-md" name="title" />
    </div>
    <div class="flex flex-col space-y-1 w-3/4">
      <nz-form-label nzSpan="7" nzFor="description">Description</nz-form-label>
      <textarea appFocus nz-input [(ngModel)]="currentTask.content" name="description" class="w-full p-2 h-16 border rounded-md"
        type="description" id="description"></textarea>
    </div>
    @if (isEdit()) {
        <div class="flex space-x-5 items-center w-3/4">
        <nz-form-label [nzSpan]="6" id="completed" nzFor="completed">Done</nz-form-label>
        <input type="checkbox" id="completed" class="hover:cursor-pointer" name="completed"
            [checked]="currentTask.completed" [(ngModel)]="currentTask.completed" />
        </div>
        <div class="w-3/4">
            <button nz-button nzType="primary" nzSize="large"  (click)="putCurrentTask()" class="rounded-md"
            nzBlock>Submit</button>
        </div>
    }
    @else {
    <div class="w-3/4">
        <button nz-button nzType="primary" nzSize="large"  (click)="addTask.emit(currentTask)" class="rounded-md"
        nzBlock>Submit</button>
    </div>
    }
  </div>
