<div class="flex overflow-hidden flex-col h-screen">
  <div class=" h-36 border-b fixed right-0 left-0 z-10 top-0 pb-4 bg-blue-300 py-2">
    <app-stat [completedTask]="completedTask()" [unCompletedTask]="unCompletedTask()" [lengthTask]="taskLength()"/>
  </div>
  <div class="flex justify-center top-36 p-4 right-80 left-0 z-0 absolute items-center flex-1">
    <div class="flex-1 grid grid-cols-3 gap-4 mx-1 mt-2 h-full overflow-y-auto">
      @for (task of tasks(); track task.id) {
      <nz-card [class.line-through]="task.completed" nzTitle="{{task.title}}" class="p-2 shadow-md h-fit rounded-md border">
        <p class="truncate">{{task.content}}</p>
        @if (!task.completed) {
          <div class="flex justify-between items-center">
            <div class="flex items-center space-x-4 w-1/2">
              <nz-form-label [nzSpan]="6" nzFor="completed">Done</nz-form-label>
              <input type="checkbox" [checked]="task.completed" class="hover:cursor-pointer h-4 w-4" (change)="update(task)" [(ngModel)]="task.completed">
            </div>
            <div class="flex justify-end space-x-2">
              <button nz-button nzType="link" (click)="edit(task)"><span nz-icon nzType="edit" nzTheme="outline"></span></button>
              <button nz-button nzType="link" nzDanger="true" (click)="deleteTask(task.id)"><span nz-icon nzType="delete" nzTheme="outline"></span></button>
            </div>
          </div>
        }
        @else {
          <div class="flex justify-end">
             <button nz-button nzType="link" nzDanger (click)="deleteTask(task.id)"><span nz-icon nzType="delete" nzTheme="outline"></span></button>
          </div>
        }
      </nz-card>
      }
    </div>
    <app-task-form (addTask)="addTask($event)" [isEdit]="isEdit()" (updateTask)="update($event)" [editTask]="currentTask()"/>
  </div>
</div>