
<div class="grid grid-cols-12 grid-rows-8 h-screen overflow-hidden">
  <div class="bg-blue-300 col-span-12 row-span-1 col-start-1 row-start-1"><app-stat [completedTask]="completedTask()" [unCompletedTask]="unCompletedTask()" [lengthTask]="taskLength()"/></div>
  <div class="col-span-9 row-start-2 row-span-7">
    <div class="flex-1 grid md:grid-cols-3 sm:grid-cols-2 grid-cols-1 gap-4 m-3 h-full overflow-y-auto">
      @for (task of tasks(); track task.id) {
      <nz-card @beforeEnter [class.line-through]="task.completed" nzTitle="{{task.title | capitalize}}" class="p-2 shadow-md h-fit rounded-md border">
        <p class="truncate">{{task.content}}</p>
        @if (!task.completed) {
          <div class="flex justify-between items-center">
            <div class="flex items-center space-x-4 w-1/2">
              <nz-form-label [nzSpan]="6" nzFor="completed">Done</nz-form-label>
              <input type="checkbox" [checked]="task.completed" class="hover:cursor-pointer h-4 w-4" (change)="update(task)" [(ngModel)]="task.completed">
            </div>
            <div class="flex justify-end space-x-2">
              <button nz-button nzType="link" (click)="edit(task)"><span nz-icon nzType="edit" nzTheme="outline"></span></button>
              <button nz-button nzType="link" nzDanger="true" (click)="deleteTask(task.id)"><span nz-icon nzType="delete" nzTheme="outline"></span></button>
            </div>
          </div>
        }
        @else {
          <div class="flex justify-end">
             <button nz-button nzType="link" nzDanger (click)="deleteTask(task.id)"><span nz-icon nzType="delete" nzTheme="outline"></span></button>
          </div>
        }
      </nz-card>
      }
    </div>
  </div>
  <div class="col-span-3 row-span-7"><app-task-form (addTask)="addTask($event)" [isEdit]="isEdit()" (updateTask)="update($event)" [editTask]="currentTask()"/></div>
</div>